.donutContainer{
    height: 200px;
    max-width: 580px;
    min-width: 580px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}


.donutChartComponent{
    height: 200px !important;
}

.whiteBorderDonut{
    background-color: rgba(255, 255, 255, 0.453);
    padding: 10px;
    height: 220px;
    width: 600px;
    margin-top: 10px;
}

.donutChartTitle{
    color: white;
}