.staticCardsContainer {
  background: white;
  height: 100px;
  width: 230px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 20px 0px;
}

.staticCardsContainerFirst{
  background: white;
  height: 100px;
  width: 230px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.staticCardsContainerFirst:hover{
  transform: scale(1.05)
}

.staticCardsContainer:hover{
  transform: scale(1.05)
}


.staticCardsTile {
  font-size: 25px;
}

.staticCardsTileZone{
  font-size: 20px;
}

.staticCardsNumberAverage {
  font-size: 60px;
  color: #db3f3f;
}

.staticCardsNumberTotal {
  font-size: 60px;
  color: #2d74ad;
}

.staticCardsNumberClosed {
  font-size: 60px;
  color: #006767;
}

.staticCardsBigContainer {
  margin-left: 20px;
  min-width: 255px;
  padding-top: 15px;
}

.topList {
}

.zone {
  font-size: 20px;
  margin-bottom: 5px;
  color: #006767;
}

.staticCardZone {
  background: white;
  height: 110px;
  width: 230px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin: 20px 0px;
}

.staticCardZone:hover {
  transform: scale(1.05)
}
