.chartContainers {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.pdfButton {
  background: #ff4d4f;
  padding: 10px;
  font-size: 18px !important;
  color: white;
  font-weight: 600 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
  width: 210px;
  border: none;
}

.buttonPdfContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
