body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.layoutContainer {
  display: flex;
  height: 85%;
  width: 100%;
  min-width: 620px;
  min-height: 550px;
}
