.headerContainer {
  height: 10%;
  background-color: #2d74ad;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  min-width: 350px;
  min-width: 600px;
}

.headerTitle {
  font-size: 40px;
  padding: 0px 20px;
  font-weight: 500;
  cursor: pointer;
}

.whiteLetter {
  font-weight: 700;
  color: white;
  font-family: "Roboto";
}

.logoutContainer {
  display: flex;
  width: 120px;
  cursor: pointer;
  justify-content: space-between;
}

.logoutText {
  font-size: 25px;
  color: white;
  display: flex;
}

.headerLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo {
  font-size: 25px;
  color: white;
}

.headerSeparator {
  padding: 0px 10px;
}
