.headerContainer {
  height: 7%;
  background-color: #8DA9C4;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  min-width: 350px;
  min-width: 600px;
}

.headerTitle {
  font-size: 40px;
  padding: 0px 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px !important;
}

.whiteLetter {
  font-weight: 700;
  color: white;
  font-family: "Roboto";
}

.logoutContainer {
  display: flex;
  width: 120px;
  cursor: pointer;
  justify-content: space-between;
}

.registerLoginContainer {
  display: flex;
  width: 170px;
  cursor: pointer;
  justify-content: space-between;
}

.logoutText {
  font-size: 25px;
  color: white;
  display: flex;
}

.headerLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogoOut {
  font-size: 25px;
  color: white;
}

.headerSeparator {
  padding: 0px 10px;
}


.headerLogo{
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogoText{
  height: 140px;
  width: 140px;
}