.siderBarLink {
  display: flex;
  background-color: white;
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  margin: 30.5px 15px 5px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  align-items: center;
  cursor: pointer;
  border: 1px solid #2d74ad;
}

.firstSiderBarLink {
  display: flex;
  background-color: white;
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  margin: 0px 15px 5px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  align-items: center;
  cursor: pointer;
  border: 1px solid #2d74ad;
}

.firstSiderBarLink:hover {
  display: flex;
  background-color: #011627;
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  margin: 0px 15px 5px 15px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}

.siderBarLink:hover {
  display: flex;
  background-color: #011627;
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  margin: 30.5px 15px 5px 15px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}

.sidebarIcon {
  color: #555555;
  font-size: 25px;
  padding-right: 10px;
}


