.siderBarLink {
  display: flex;
  padding: 5px;
  width: 200px;
  font-size: 25px;
  font-weight: 500;
  color: white;
  /* align-items: center; */
  cursor: pointer;
}

.firstSiderBarLink {
  display: flex;
  padding: 5px;
  width: 200px;
  font-size: 25px;
  font-weight: 500;
  color: white;
  align-items: center;
  cursor: pointer;
}

.sidebarIcon {
  color: white;
  font-size: 30px;
  padding-right: 10px;
}

.sidebarButtonsBigContainer{
  height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 80px;
}


