.typeChartContainer {
  width: 300px;
  margin: 0px 20px;
  height: 610px;
  padding-top: 50px;
}

.columnChartTitle {
  margin-top: 30px;
  color: white;
}

.typeChartBigContainer {
  display: flex;
  flex-direction: column;
}
