.sidebarContainer {
  height: 100%;
  width: 12%;
  display: flex;
  align-items: center;
  background-color:#000f1c;
  /* border-right: 2px solid rgba(255, 255, 255, 0.27); */
  /* justify-content: center; */
}

.goIconSidebar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.siderBackground {
  height: 90%;
  /* width: 200px; */
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  flex-direction: column;
  /* border-radius: 3px; */
  /* margin-left: 15px; */
  padding: 20px 0px 20px 0px;
}

.headerLogoInSidebar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogoInSidebar {
  height: 130px;
  width: 130px;
}

.sideBarExtendButton {
  background-color: #8da9c4;
  border-radius: 50%;
  height: 40px;
  width: 45px;
  position: absolute;
  top: 0px;
  right: 10px;

  cursor: pointer;
}

.sideBarButtonExtension {
  position: relative;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
